@import "tailwindcss";
@import "tw-animate-css";

@keyframes scanLine {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

.animate-scanLine {
  animation: scanLine 1.5s linear infinite;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #FFF8F0;
}
